{% load static %}

<!DOCTYPE html>

<html>
    <head>
    <title>Pinball Leaderboard</title>
    <link rel="shortcut icon" type='image/png' href="{%  static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Righteous&display=swap" rel="stylesheet">
    </head>
    <style>
        body {
          background-image: url("{%  static 'pinballBcg.jpg' %}");
          background-repeat: no-repeat;
          background-size: cover;
        }
    </style>
<body>

    <h1>3D Space Cadet Pinball Leaderboard</h1>
    <div class="leaderboard">
        <div class="row">
            <div class="header">
                Rank
            </div>
            <div class="header">
                Name
            </div>
            <div class="header">
                Score
            </div>
        </div>
        {% for item in data %}
        <div class="row">
            <div class="entry">
                {{ item.rank }}
            </div>
            <div class="entry">
                <span>{{ item.name }}</span>
            </div>
            <div class="entry">
                {{ item.score }}
            </div>
        </div>
        {% endfor %}
        </div>
    <div class="link" target="_blank">
        <a href="https://github.com/Meeshoo/SpaceCadetPinballLeaderboard">
            Source Code
        </a>
    </div>
</body>
</html>